/*

*/


@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

* {
    --yellow: #FFD700;
    font-family: "Tektur";
}

body {
    background-color: #0f0f0f;

}

img {
    height: 355px;
    width: 595px;
}
.container{
    width: 1092px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    width: inherit;
    height: 720px;
    border-radius: 25px 25px 0px 0px;
    background-color: var(--yellow);
    color: white;
}

h1 {
    margin-top: 0;
}
#header {
    background-color: rgb(0,0,0,0);
    color: black;
    font-size: 64px;
    font-weight: 600;
    text-align: center;


}

#secHeader {
    background-color: var(--yellow);
    color: black;
    font-size: 42px;
    font-weight: 400;
}

.container > nav {
    display: flex;
    justify-content: center; 
    align-items: flex-end; /* Aligns bottom edges */
    height: 286px;


}

nav > button {
    background-color: #444;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    text-align: left;

}

button > a {
    color: white;
    background-color: rgb(0,0,0,0);
    text-transform: capitalize;
    font-weight: 500;
    font-size: 40px;
    text-decoration: none;
    padding-left: 5px;
}

button:active{
    font-weight: 600;
    letter-spacing: 2px;
}



button:hover {
    color: #444;
    background-color: white;
    border-color: #444;
    border-width: 10px;
}
button:hover  > a{
    color: #444;
}



#aboutB {
    height: 96px;
    width: 340px;

    margin-right: -227px;
}

#infoB {
    height: 109px;
    width: 280px;

    margin-right: -151px;
}

#idkB {
    height: 125px;
    width: 400px;

    margin-right: -300px;
}

#goalsB {
    height: 96px;
    width: 210px;

    margin-right: -800px;
}

